:root {
  --main-light: #ffffff;
  --main-dark: #3b3f3e;
  --main-highlight: #2ef3b8;
  --secondary-light: #effffa;
  --light-grey: #f3f3f3;
  --medium-grey: #dddddd;
  --dark-grey: #909090;
  --danger: #f0547b;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  padding-right: 0 !important;
}

/* Background Color */
.upperture-bg-main-light {
  background-color: var(--main-light);
}

.upperture-bg-main-dark {
  background-color: var(--main-dark);
}

.upperture-bg-main-highlight {
  background-color: var(--main-highlight);
}

.upperture-bg-secondary-light {
  background-color: var(--secondary-light);
}

.upperture-bg-light-grey {
  background-color: var(--light-grey);
}

.upperture-bg-medium-grey {
  background-color: var(--medium-grey);
}

.upperture-bg-dark-grey {
  background-color: var(--dark-grey);
}

.upperture-bg-danger {
  background-color: var(--danger);
}

/* Font Color */
.upperture-main-light {
  color: var(--main-light);
}

.upperture-main-dark {
  color: var(--main-dark);
}

.upperture-main-highlight {
  color: var(--main-highlight);
}

.upperture-secondary-light {
  color: var(--secondary-light);
}

.upperture-light-grey {
  color: var(--light-grey);
}

.upperture-medium-grey {
  color: var(--medium-grey);
}

.upperture-dark-grey {
  color: var(--dark-grey);
}

.upperture-danger {
  color: var(--danger);
}

/* Font Size */
.upperture-font-size-10 {
  font-size: 10px;
}

.upperture-font-size-12 {
  font-size: 12px;
}

.upperture-font-size-14 {
  font-size: 14px;
}

.upperture-font-size-15 {
  font-size: 15px;
}

.upperture-font-size-18 {
  font-size: 18px;
}

.upperture-font-size-20 {
  font-size: 20px;
}

.upperture-font-size-24 {
  font-size: 24px;
}

.upperture-font-size-26 {
  font-size: 26px;
}

.upperture-font-size-32 {
  font-size: 32px;
}

.upperture-font-size-36 {
  font-size: 36px;
}

.upperture-font-size-90 {
  font-size: 90px;
}

/* Font Weight */
.upperture-font-weight-100 {
  font-weight: 100;
}

.upperture-font-weight-200 {
  font-weight: 200;
}

.upperture-font-weight-300 {
  font-weight: 300;
}

.upperture-font-weight-400 {
  font-weight: 400;
}

.upperture-font-weight-500 {
  font-weight: 500;
}

.upperture-font-weight-600 {
  font-weight: 600;
}

.upperture-font-weight-700 {
  font-weight: 700;
}

.upperture-font-weight-800 {
  font-weight: 800;
}

.upperture-font-weight-900 {
  font-weight: 900;
}
/* Additional */
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: var(--main-dark);
}

p {
  margin: 0px;
  padding: 0px;
}

.upperture-pointer:hover {
  cursor: pointer;
}

.upperture-link {
  color: var(--main-dark);
  text-decoration: none;
}

.upperture-link:hover {
  color: var(--main-dark);
  text-decoration: none;
}

/* ###LANDINGPAGE */
#jumbotron {
  background-image: url(../Assets/Icons/Arrows.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: fit-content;
  max-width: 50vw;
}

#jumbotron-text-wrapper {
  height: 30%;
  padding-left: 9vw;
  padding-right: 9vw;
}

#jumbotron-text {
  font-size: clamp(3rem, 5vw, 7rem);
  font-weight: 700;
  line-height: clamp(3.5rem, 5.5vw, 7.5rem);
  color: var(--main-light);
}

#login-pane {
  background-color: var(--secondary-light);
  min-width: 50vw;
  height: 100vh;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-contents {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-box {
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  height: auto;
  margin: 2rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--main-light);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upperture-form {
  width: 100%;
  position: relative;
  margin: 0.5rem 0rem;
}
.upperture-input {
  width: 100%;
  background-color: var(--main-light);
  border: 2px solid var(--dark-grey);
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;;
  border-radius: 5px;
  transition: 0.2s;
  color: var(--main-dark);
}

.upperture-input:focus {
  border: 2px solid var(--main-highlight);
  box-shadow: 0px 0px 5px #2ef3b8;
}

.upperture-input-label {
  color: var(--dark-grey);
  font-size: smaller;
  position: absolute;
  top: 0.65rem;
  left: 0.6rem;
  font-family: "Poppins", sans-serif;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: var(--main-light);
  padding: 0 0.5rem;
}

.upperture-input:focus ~ .upperture-input-label,
.upperture-input:not(:placeholder-shown).upperture-input:not(:focus) ~ .upperture-input-label {
  top: -0.6rem;
  font-size: 0.8rem;
}

::placeholder {
  color: var(--dark-grey);
  opacity: 1;
  font-size: smaller;
}

.upperture-password {
  padding-right: 50px;
}

.upperture-password-icon {
  width: 35px;
  position: absolute;
  top: 3px;
  right: 10px;
  filter: invert(22%) sepia(14%) saturate(129%) hue-rotate(114deg)
    brightness(98%) contrast(50%);
}
.upperture-submit-button {
  width: 100%;
  background-color: var(--main-highlight);
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  margin: 1rem 0rem;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-dark);
}

.upperture-submit-button:disabled,
.upperture-submit-button[disabled]{
  background-color: #8deccf;
  color: var(--dark-grey);
  cursor: not-allowed;
}

#google-logo {
  width: 1.5rem;
  height: 1.5rem;
}

#login-with-google {
  padding: 0px;
  margin: 0px 0.5rem;
  font-size: 18px;
}

.upperture-error-message {
  color: var(--danger);
  margin: 0rem 0rem -0.5rem 1.1rem;
  text-align: right;
  font-size: 11px;
}

#upperture-forgot-password {
  color: var(--dark-grey);
  font-size: 16px;
  margin: 20px 0px 0px 0px;
}

/* ###REGISTERMODAL */
#register-modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000b0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-modal {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  height: 560px;
  padding: 0px 4vw;
  background-color: var(--main-light);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.upperture-close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  filter: invert(22%) sepia(14%) saturate(129%) hue-rotate(114deg)
    brightness(96%) contrast(91%);
}

#upperture-logo-register-no-text {
  width: 50px;
}

#create-your-account {
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0px;
  text-align: center;
}

/* ###NAVPANE */
#navpane-container {
  width: 300px;
  min-height: 100vh;
  background-color: var(--light-grey);
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  bottom: 0px;
}

#upperture-logo-navpane-text {
  width: 80%;
}

#upperture-logo-navpane-no-text {
  display: none;
  width: 50px;
}

#search-bar-container {
  background-color: var(--main-light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}

#search-icon {
  filter: invert(22%) sepia(14%) saturate(129%) hue-rotate(114deg)
    brightness(96%) contrast(91%);
  width: 20px;
  margin-left: 5px;
}

#search-input {
  border: none;
  margin-left: 5px;
  width: 100%;
}

#search-input:focus,
#search-input:active {
  border: none;
  outline: none;
}

#menu-container-search {
  display: none;
}

.menu-container {
  width: 100%;
  padding: 8px 50px;
  margin: 3px 0px;
  display: flex;
  align-items: center;
}

.selected-menu {
  background-color: var(--secondary-light);
}

.menu-icon {
  width: 35px;
  filter: invert(22%) sepia(14%) saturate(129%) hue-rotate(114deg)
    brightness(96%) contrast(91%);
}

.menu-text {
  margin: 0px 0px 0px 10px;
}

#upload-button {
  background-color: var(--main-highlight);
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 0.8rem 4rem;
  margin: 2rem 0rem;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-dark);
}

#upload-button-small {
  display: none;
}

.upperture-footer {
  display: flex;
}

/* ###SEARCH BOX */
.bubble {
	height: 300px;
	width: 300px;
	background: white;
	margin: 0 auto;
	font-size: 200px;
	text-align: center;
  position: fixed;
  left:300px;
  top:100px;
  z-index: 2;
}

.bubble-blurred {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	font-size: 200px;
	text-align: center;
  left:300px;
  top:100px;
  background: rgb(188, 188, 188);
	filter: blur(2px);
	position: fixed;
	z-index: 1;
}

.left-triangle {
	height: 25px;
	width: 25px;
	background: white;
	margin: 0 auto;
	transform: rotate(45deg);
  position: fixed;
  top: 131px;
  left: 290px; 
  z-index: 2;
}

.left-triangle-blurred {
  height: 25px;
	width: 25px;
	background: rgb(188, 188, 188);
	filter: blur(2px);
	margin: 0 auto;
	transform: rotate(45deg);
  position: fixed;
  top: 131px;
  left: 290px; 
  z-index: 1;
}

#search-result-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}

/* ###LOADING */
#loading-container {
  width: calc(96vw - 300px);
  height: 96vh;
  padding:  0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#upperture-loading-spinner {
  width: 70px;
  text-align: center;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ###HOME */
.page-container {
  width: calc(100vw - 300px);
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
  margin-left: 300px;
  height: auto;
  min-height: 100vh;
  position: relative;
}

.home-post-container {
  width: calc((100vw - 300px - 6vw) / 3);
  padding: 2vw 2vw;
}

.home-post-picture {
  width: 100%;
  background-color: #dddddd;
}

.home-post-detail-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.home-post-detail-left {
  width: 80%;
}

.home-post-profile-pic {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}

.home-post-name {
  margin: 0% 5%;
  font-size: 1.2vw;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

.home-post-date {
  margin: 0% 5%;
  width: 100%;
  font-size: 0.9vw;
}

.home-post-detail-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-post-heart {
  width: 2.5vw;
  height: 2.3vw;
  filter: invert(22%) sepia(14%) saturate(129%) hue-rotate(114deg)
    brightness(96%) contrast(91%);
  cursor: pointer;
}

.home-post-heart-liked {
  width: 2.5vw;
  height: 2.3vw;
  cursor: pointer;
}

.home-post-number-of-likes {
  margin: 0 0 0 0.5vw;
  font-size: 1vw;
}

/* ###PROFILE */
#profile-header-container {
  width: 100%;
  max-height: 250px;
  height: auto;
  padding: 20px;
  margin: -2vw 2.5% 2.5% 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #3b3f3e;
}

#profile-pic {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0px 20px 0px 0px;
}

#profile-name-container {
  height: 100%;
}

#profile-username {
  margin: 0px 20px 0px 0px;
  font-size: 24px;
  font-weight: 500;
}

#profile-name {
  margin: 0px 20px 0px 0px;
  font-size: 18px;
}

#profile-bio-container {
  padding: 10px;
  text-align: center;
}
.profile-bio {
  margin: 0px;
  font-size: 14px;
  max-width: 75ch;
}

.edit-profile-button {
  border: none;
  background-color: var(--light-grey);
  margin-top: 10px;
  padding: 0px 10px;
  color: var(--dark-grey);
}

.edit-profile-button:hover {
  color: var(--main-dark);
}

.post-overlay {
  background-color: #00000088;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.home-post-picture:hover + .post-overlay {
  visibility: visible;
}

.post-overlay:hover {
  visibility: visible;
}

.heart-white {
  width: 22px;
  height: 20px;
}

.number-of-likes-comments-white {
  margin: 0px 10px;
  padding: 0px;
  color: #ffffff;
  font-size: 20px;
}

.comment-white {
  width: 22px;
  height: 20px;
  margin-left: 30px;
}

/* ###DETAIL */
.detail-page-container {
  height: 100vh;
  min-height: 650px;
}

#detail-container {
  max-width: calc(1850vh / 13 + 2px);
  width: 100;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  min-width: 600px;
}

#detail-container-left {
  max-height: 100%;
  width: 55%;
}

#detail-image-container {
  /* width: -moz-fit-content; */
  width: 100%;
  block-size: fit-content;
  height: 100%;
  background-color: #3b3f3e;
  display: flex;
  align-items: center;
}

#detail-image {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  align-self: center;
  overflow-x: hidden;
}

#detail-container-right {
  width: 45%;
  height: 100%;
  background-color: var(--main-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.detail-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.post-detail-left {
  width: 80%;
  display: flex;
  align-items: center;
}

.post-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-name {
  margin: 0px 10px;
  font-size: 18px;
  width: 100%;
  font-weight: 600;
}

.post-date {
  margin: 0px 10px;
  width: 100%;
  font-size: 14px;
}

.post-detail-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-heart {
  width: 28px;
  height: 25px;
  filter: invert(22%) sepia(14%) saturate(129%) hue-rotate(114deg)
    brightness(96%) contrast(91%);
}

.post-heart-liked {
  width: 28px;
  height: 25px;
}

.post-number-of-likes {
  margin: 0 0 0 5px;
  font-size: 16px;
}

.detail-header-and-caption {
  border-bottom: 2px solid #3b3f3e;
}

#comments-container {
  overflow-y: scroll;
  min-height: calc(400px - 2rem);
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  border-bottom: 10px solid white;
  padding-top: 10px;
}

#comments-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.comment-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment-container {
  margin-left: 10px;
  font-size: 14px;
}

.comment-text {
  margin-top: -2px;
  margin-bottom: 0px;
  margin-right: 5px;
}

.comment-date {
  margin: 0px;
  font-size: 10px;
  color: var(--dark-grey);
}

.write-comment-container {
  display: flex;
  border-top: 2px solid #3b3f3e;
}

.comment-input {
  width: 92%;
  height: 50px;
  background-color: var(--light-grey);
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  resize: none;
}

.comment-input::placeholder {
  font-size: 12px;
}

.comment-input:focus {
  outline: none;
}

.comment-submit-area {
  width: 40px;
  background-color: var(--light-grey);
  border: none;
  margin: 0.5rem 0rem;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.comment-submit-button {
  filter: invert(22%) sepia(14%) saturate(129%) hue-rotate(114deg)
  brightness(96%) contrast(91%);
  align-self: center;
  width: 25px;
  cursor: pointer;
}

/* ###EDITPROFILEMODAL */
#edit-profile-modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000b0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-profile-modal {
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  height: 540px;
  padding: 4vw;
  background-color: var(--main-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: scroll;
}

#edit-profile-modal-header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#edit-profile-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0px;
}

#edit-profile-pic-container {
  margin-top: 200px;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: var(--light-grey);
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
}

#edit-profile-pic {
  width: 100%;
  border-radius: 50%;
}

#edit-profile-pic-overlay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
}

#add-picture-icon {
  filter: invert(99%) sepia(94%) saturate(27%) hue-rotate(60deg) brightness(107%) contrast(100%);
  width: 40%;
}

#bio-input {
  width: 100%;
  min-height: 95px;
  max-height: 95px;
  background-color: var(--main-light);
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  margin: 0.5rem 0rem 2rem;
  resize: none;
  transition: 0.2s;
  outline: none;
}

#bio-input:focus {
  border: 2px solid var(--main-highlight);
  box-shadow: 0px 0px 5px var(--main-highlight);
}

/* ###SETTINGS */
#settings-header-container {
  width: 100%;
  height: max-content;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: -2vw 2.5% 2.5% 2.5%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #3b3f3e;
}

#settings-container {
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  min-height: 530px;
  height: auto;
  padding: 2vw 4vw;
  background-color: var(--main-light);
  position: relative;
}

@media (max-width: 1200px) {
  .home-post-container {
    width: calc((100vw - 300px - 6vw)/2);
  }

  .home-post-profile-pic {
    width: 4.5vw;
    height: 4.5vw;
  }
  .home-post-name {
    margin: 0% 5%;
    font-size: 1.7vw;
    width: 100%;
  }

  .home-post-date {
    margin: 0% 5%;
    width: 100%;
    font-size: 1.2vw;
  }

  .home-post-heart,
  .home-post-heart-liked {
    width: 4.5vw;
    height: 4.3vw;
  }

  .home-post-number-of-likes {
    font-size: 1.7vw;
  }
}

@media (max-width: 800px) {
  .page-container {
    padding: 4vw;
  }

  .detail-page-container {
    height: fit-content;
  }

  #detail-container {
    max-width: 100%;
    height: auto;
    min-width: 250px;
  }

  .home-post-container {
    width: calc(100vw - 80px - 10vw) !important;
    margin-bottom: 50px;
  }

  .home-post-profile-pic {
    width: 8vw;
    height: 8vw;
  }
  .home-post-name {
    margin: 0% 5%;
    font-size: 3vw;
    width: 100%;
  }

  .home-post-date {
    margin: 0% 5%;
    width: 100%;
    font-size: 2.4vw;
  }

  .home-post-heart,
  .home-post-heart-liked {
    width: 8vw;
    height: 7vw;
  }

  .home-post-number-of-likes {
    font-size: 3vw;
  }

  #detail-container-left {
    width: 100%;
    display: flex;
  }

  #detail-container-right {
    width: 100%;
    max-height: 600px;
  }
}

@media (max-width: 1024px) {
  #jumbotron {
    visibility: hidden;
    width: 0vw;
  }
  #login-pane {
    width: 100vw;
  }

  .upperture-footer {
    display: none;
  }

  #navpane-container {
    width: 80px;
  }

  #upperture-logo-navpane-text {
    display: none;
  }

  #upperture-logo-navpane-no-text {
    display: block;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #search-bar-container {
    display: none;
  }

  #menu-container-search {
    display: block;
    align-self: center;
  }
  .menu-container {
    padding: 8px 0px;
    justify-content: center;
  }
  .menu-icon {
    margin: 0px;
  }
  .menu-text {
    display: none;
  }

  #upload-button {
    display: none;
  }

  #upload-button-small {
    background-color: var(--main-highlight);
    border: none;
    font-family: "Poppins", sans-serif;
    padding: 0.8rem;
    margin: 3rem 0rem;
    border-radius: 50%;
    display: block;
  }

  .page-container {
    width: calc(100vw - 80px);
    margin-left: 80px;
  }

  #loading-container {
    width: calc(92vw - 80px);
  }
  .home-post-container {
    width: calc((100vw - 80px - 8vw)/2);
  }
}
